<!-- main.html -->
<div class="todo-wrapper" data-ng-init="readFromServer()">
    <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h2>
    <ul>
        <li data-ng-repeat="task in tasks" class="to_do">
            <input type="checkbox" data-ng-model="task.done" data-ng-click="validateButton()" class="checkbox"/>
            <span class="done-{{task.done}}">{{task.title}}  </span><a href="#task/{{task.task_id}}" class="task_id">   (task number: #{{task.task_id}})</a>
        </li>
    </ul>
    <form>
        <input class="add-input" placeholder="write your task title.." type="text" data-ng-model="formTodoText" />
        <input class="add-input" placeholder="description.." type="text" data-ng-model="formTodoDesc" />
        <button class="add-btn" data-ng-click="saveToServer()"><h2>Add</h2></button>
    </form>
    <button class="clear_btn" data-ng-click="removeCompleted()">Clear completed</button>
</div>